@keyframes coloring {
    from {
        color: black;
    }
    to {
        color: white;
    }
}

a.one {
    color: red;
    position: relative;
}

@media all and (max-width: 320px) {
    a.two {
        width: 320px;
    }
}

a.three, a {
    width: 1000px;
}
