@keyframes coloring1 {
    from {
        color: black;
    }
    to {
        color: white;
    }
}

@keyframes coloring {
    from {
        color: black;
    }

    to {
        color: white;
    }
}

@keyframes moving1 {
    0% {
        top: 0;
    }
    100% {
        top: 100px;
    }
}

@keyframes moving {
    0% {
        top: 0;
    }
    100% {
        top: 100px;
    }
}

a {
    color: red;
    position: relative;
}
