a {
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: transform 200ms, filter 1s;
  transition: -ms-transform 200ms, -ms-filter 1s;
  transition: transform 200ms, filter 1s;
  background: -webkit-linear-gradient(white, black), -webkit-linear-gradient(black, white), -webkit-linear-gradient(black, white);
  background: linear-gradient(white, black), linear-gradient(black, white), linear-gradient(black, white);
  border: -webkit-calc(10% + 10px) -webkit-calc(5% + 5px);
  border: -ms-calc(10% + 10px) -ms-calc(5% + 5px);
  border: calc(10% + 10px) calc(5% + 5px)
}

@keyframes anim {
  from {
    color: white
  }

  to {
    -ms-transform: translateX(-ms-calc(10% + 10px));
    transform: translateX(-webkit-calc(10% + 10px));
    transform: translateX(-ms-calc(10% + 10px));
    transform: translateX(calc(10% + 10px));
    color: black
  }
}

@-webkit-keyframes anim {
  from {
    color: white
  }

  to {
    transform: translateX(-webkit-calc(10% + 10px));
    color: black
  }
}

@-ms-keyframes anim {
  from {
    color: white
  }

  to {
    -ms-transform: translateX(-ms-calc(10% + 10px));
    transform: translateX(-ms-calc(10% + 10px));
    color: black
  }
}
