@keyframes anim {
  from {
    color: white
  }

  to {
    color: black
  }
}

@-webkit-keyframes anim {
  from {
    color: white
  }

  to {
    color: black
  }
}

@-ms-keyframes anim {
  from {
    color: white
  }

  to {
    color: black
  }
}