a {
  transform: rotate(0);
  transition: transform 200ms;
  background: linear-gradient(white, black)
}

@keyframes anim {
    from {
        color: white
    }
    to {
        width: calc(10% + 10px);
        color: black
    }
}
