a {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  transition: -webkit-transform 200ms, filter 1s;
  transition: transform 200ms, filter 1s;
  background: linear-gradient(350deg, white, black), linear-gradient(-130deg, black, white), linear-gradient(black, white);
  border: calc(10% + 10px) calc(5% + 5px);
  -moz-border-radius-topleft: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcde', endColorstr='#00ffffff',GradientType=0 );
}

@-o-keyframes anim {
    from {
        color: white
    }
    to {
        color: black
    }
}

@keyframes anim {
    from {
        color: white
    }
    to {
        transform: translateX(calc(10% + 10px));
        color: black
    }
}
