.a {
    grid-template-areas:
        "head head"
        "nav  main"
        "nav  foot"
        "another";
}

.b {
    grid-area: head;
}

.c {
    grid-area: main;
}

.d {
    grid-area: nav;
}

.e {
    grid-area: foot;
}

@media (max-width: 1000px) {
    .a {
        grid-template-areas: "head main";
    }
}

.foo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'a   b'
        'c   d';
}
@media (min-width: 600px) {
    .foo {
        grid-template-areas: 'a   b   c   d';
    }
}
.bar {
    grid-area: a;
}
