.a {
    grid-gap: 1rem;
    -ms-grid-rows: 1fr 1rem minmax(100px, 1fr) 1rem 2fr;
    grid-template-rows: 1fr minmax(100px, 1fr) 2fr;
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "head head  head"
        "nav  main  main"
        "nav  foot  foot";
}

.b {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: head;
}

.c {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: main;
}

.d {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: nav;
}

.e {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: foot;
}

.f {
    grid-gap: 10px;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto 10px auto 10px auto;
    grid-template-areas:
        "head head head"
        "nav main main"
        "nav foot foot";
}

.a-shortcut {
    grid-gap: 1rem;
    -ms-grid-rows: 1fr 1rem minmax(100px, 1fr) 1rem 2fr;
    -ms-grid-columns: 1fr 1rem 100px 1rem 1fr;
    grid-template:
        "head-shortcut head-shortcut  head-shortcut" 1fr
        "nav-shortcut  main-shortcut  main-shortcut" minmax(100px, 1fr)
        "nav-shortcut  foot-shortcut  foot-shortcut" 2fr /
        1fr 100px 1fr;
}

.b-shortcut {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: head-shortcut;
}

.c-shortcut {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: main-shortcut;
}

.d-shortcut {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: nav-shortcut;
}

.e-shortcut {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: foot-shortcut;
}

.f-shortcut {
    grid-gap: 10px;
    -ms-grid-rows: auto 10px auto 10px auto;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template:
        "head-shortcut head-shortcut head-shortcut"
        "nav-shortcut main-shortcut main-shortcut"
        "nav-shortcut foot-shortcut foot-shortcut"
        / 1fr 1fr 1fr;
}
