.a {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: stretch;
    align-items: stretch;
    grid-column-start: 1;
    grid-column-end: span 3;
}

.b {
    display: inline-grid;
    grid-template-rows: 10px repeat(4, 250px 10px) 20px;
    align-items: stretch;
    grid-row-start: 1;
    grid-row-end: span 3;
}

.c {
    grid-column: 1 / span 3;
}

.webkit {
    grid: subgrid;
    grid-template-areas: "head head"
                         "nav  main"
                         "foot ....";
}

.unknown {
    -ms-flex-align: start;
        align-items: start;
}
