.a {
    grid-template-areas:
        "head head"
        "nav  main"
        "nav  foot"
        "another";
}

.b {
    grid-area: head;
}

.c {
    grid-area: main;
}

.d {
    grid-area: nav;
}

.e {
    grid-area: foot;
}

@media (max-width: 1000px) {
    .a {
        grid-template-areas: "head main article";
    }
}

.f {
    grid-area: article;
}
