.a {
    grid-gap: 1rem;
    grid-template-rows: 1fr minmax(100px, 1fr) 2fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "head head  head"
        "nav  main  main"
        "nav  foot  foot";
}

.b {
    grid-area: head;
}

.c {
    grid-area: main;
}

.d {
    grid-area: nav;
}

.e {
    grid-area: foot;
}
