.a {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-self: stretch;
    align-self: stretch;
    grid-column-start: 1;
    grid-column-end: span 3;
}

.b {
    display: inline-grid;
    grid-template-rows: 10px repeat(4, 250px 10px) 20px;
    justify-self: stretch;
    align-self: stretch;
    grid-row-start: 1;
    grid-row-end: span 3;
}

.c {
    grid-column: 1 / span 3;
}

.d {
    grid-column: 1 / 3;
    grid-row: span 2 / 5;
}

.e {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.warn {
    grid-column-end: 3;
    grid: subgrid;
    grid-template-areas: "head head"
                         "nav  main"
                         "foot ....";
}

.unknown {
    justify-self: start;
    align-self: start;
}

.flex {
    justify-self: flex-end;
    align-self: flex-end;
}

@supports (display: grid) {
    .foo {
        display: grid;
    }
}

@supports (justify-items: start) {
    .foo {
        justify-items: start;
    }
}
