it_ignore-property {
  /* autoprefixer: ignore next */
  mask: none;
  background: -webkit-linear-gradient(top, white, black);
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}

it_ignore-property_nospaces-comment {
  /* autoprefixer:ignore next */
  mask: none;
  background: -webkit-linear-gradient(top, white, black);
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}

/* autoprefixer: ignore next */
it_ignore-rule::placeholder {
  mask: none;
  background: linear-gradient(to bottom, white, black);
}

/* autoprefixer: ignore next */
@media (min-resolution: 2dppx) {
  it_ignore-at-rule {
      mask: none;
      background: linear-gradient(to bottom, white, black);
  }
}
