.ignore-property {
  /* autoprefixer: ignore next */
  mask: none;
  background: -webkit-linear-gradient(top, white, black);
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}

.ignore-property_nospaces-comment {
  /* autoprefixer:ignore next */
  mask: none;
  background: -webkit-linear-gradient(top, white, black);
  background: -o-linear-gradient(top, white, black);
  background: linear-gradient(to bottom, white, black);
}

/* autoprefixer: ignore next */
.ignore-rule::placeholder {
  -webkit-mask: none;
          mask: none;
}

/* autoprefixer: ignore next */
@media (min-resolution: 2dppx) {
  .ignore-at-rule::-webkit-input-placeholder {
    -webkit-mask: none;
            mask: none;
  }
  .ignore-at-rule::placeholder {
    -webkit-mask: none;
            mask: none;
  }
}
