a {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
}

b {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

p {
    block-size: -webkit-min-content;
    block-size: -moz-min-content;
    block-size: min-content;
    min-inline-size: -webkit-fit-content;
    min-inline-size: -moz-fit-content;
    min-inline-size: fit-content;
}

.outdated {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill;
}

.old {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.grid {
    grid: -webkit-min-content -webkit-max-content / fit-content(500px);
    grid: min-content max-content / fit-content(500px);
}

.grid-template {
    grid-template: -webkit-min-content / fit-content(10px) -webkit-max-content;
    grid-template: min-content / fit-content(10px) max-content;
}

.grid-template-columns {
    grid-template-columns: minmax(100px, -webkit-min-content);
    grid-template-columns: minmax(100px, min-content);
}

.grid-auto-columns {
    grid-auto-columns: -webkit-min-content -webkit-max-content;
    grid-auto-columns: min-content max-content;
}
