@-webkit-keyframes anim {
    /* Single line comment */
    from {
        /* Another single line comment */
        top: -webkit-calc(10% + 10px);
        top: calc(10% + 10px);
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    /*
        Multi
        line
        comment
      */
    50% {
        top: 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0;
        flex: 0;
    }

    to {
        top: -webkit-calc(10%);
        top: calc(10%);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-o-keyframes anim {
    /* Single line comment */
    from {
        /* Another single line comment */
        top: calc(10% + 10px);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    /*
        Multi
        line
        comment
      */
    50% {
        top: 0;
        flex: 0;
    }

    to {
        top: calc(10%);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes anim {
    /* Single line comment */
    from {
        /* Another single line comment */
        top: -webkit-calc(10% + 10px);
        top: calc(10% + 10px);
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    /*
        Multi
        line
        comment
      */
    50% {
        top: 0;
        -webkit-box-flex: 0;
        -webkit-flex: 0;
        flex: 0;
    }

    to {
        top: -webkit-calc(10%);
        top: calc(10%);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
}
