:-webkit-full-screen a {
    box-sizing: border-box;
}
:-moz-full-screen a {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:fullscreen a {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
