a {
    background: linear-gradient(350.5deg, white, black),
                linear-gradient(-130deg, black, white),
                linear-gradient(45deg, black, white);
}

div {
  background-image: radial-gradient(to left, white black),
                    repeating-linear-gradient(to bottom right, black, white),
                    repeating-radial-gradient(to top, aqua, red);
}

.radial {
    background: radial-gradient(ellipse farthest-corner, black, white);
}

.simple1 {
    background: linear-gradient(black, white);
}

.simple2 {
    background: linear-gradient(to left, black 0%, rgba(0, 0, 0, 0.5) 50%, white 100%);
}

.direction {
    background: linear-gradient(top left, black, rgba(0, 0, 0, 0.5), white);
}

.radial {
    background: radial-gradient(farthest-side at 0 50%, white, black);
}
