a {
    background: -webkit-linear-gradient(99.5deg, white, black),
                -webkit-linear-gradient(220deg, black, white),
                -webkit-linear-gradient(45deg, black, white);
    background: -o-linear-gradient(99.5deg, white, black),
                -o-linear-gradient(220deg, black, white),
                -o-linear-gradient(45deg, black, white);
    background: linear-gradient(350.5deg, white, black),
                linear-gradient(-130deg, black, white),
                linear-gradient(45deg, black, white);
}

div {
  background-image: -webkit-radial-gradient(right, white black),
                    -webkit-repeating-linear-gradient(top left, black, white),
                    -webkit-repeating-radial-gradient(bottom, aqua, red);
  background-image: -o-radial-gradient(right, white black),
                    -o-repeating-linear-gradient(top left, black, white),
                    -o-repeating-radial-gradient(bottom, aqua, red);
  background-image: radial-gradient(to left, white black),
                    repeating-linear-gradient(to bottom right, black, white),
                    repeating-radial-gradient(to top, aqua, red);
}

.radial {
    background: -webkit-radial-gradient(ellipse farthest-corner, black, white);
    background: -o-radial-gradient(ellipse farthest-corner, black, white);
    background: radial-gradient(ellipse farthest-corner, black, white);
}

.simple1 {
    background: -webkit-gradient(linear, top left, bottom left, from(black), to(white));
    background: -webkit-linear-gradient(black, white);
    background: -o-linear-gradient(black, white);
    background: linear-gradient(black, white);
}

.simple2 {
    background: -webkit-gradient(linear, top right, top left, from(black), color-stop(50%, rgba(0, 0, 0, 0.5)), to(white));
    background: -webkit-linear-gradient(right, black 0%, rgba(0, 0, 0, 0.5) 50%, white 100%);
    background: -o-linear-gradient(right, black 0%, rgba(0, 0, 0, 0.5) 50%, white 100%);
    background: linear-gradient(to left, black 0%, rgba(0, 0, 0, 0.5) 50%, white 100%);
}

.direction {
    background: -webkit-gradient(linear, top left, bottom right, from(black), color-stop(rgba(0, 0, 0, 0.5)), to(white));
    background: -webkit-linear-gradient(top left, black, rgba(0, 0, 0, 0.5), white);
    background: -o-linear-gradient(top left, black, rgba(0, 0, 0, 0.5), white);
    background: linear-gradient(top left, black, rgba(0, 0, 0, 0.5), white);
}

.radial {
    background: -webkit-radial-gradient(0 50%, farthest-side, white, black);
    background: -o-radial-gradient(0 50%, farthest-side, white, black);
    background: radial-gradient(farthest-side at 0 50%, white, black);
}
