a {
    -ms-transition: all 1s;
    transition: all 1s;

    -ms-border-radius: 5px;
    border-radius: 5px;

    background: -ms-linear-gradient(white, black);
    background: linear-gradient(white, black);
}
